<h2 class="text-center padding-top tiny">Trip: <%= @trip.title %></h2>
<%= link_to 'Back', user_trips_path(@trip.user_id), class: 'btn btn-warning' %>
<%= link_to 'Add new place!', user_trip_locations_new_path(@trip.user_id, @trip.id), class: 'btn btn-primary'  %>
<div data-trip-id="<%= @trip.id %>" id="get-trip" ></div>
<div class="margin-top tiny" data-user-id="<%= current_user.id %>" id="get-user">
  <div class="row">
    <div class="row col-lg-8">
      <div id="trip-map"></div>
    </div>
    <div class="col-lg-4">
      <div>
        <table class="table table-locations">
          <thead class="thead-default">
            <tr>
              <th>Address</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @trip.locations.order(:start_date).each do |location| %>
              <tr>
                <td><%= link_to "#{location.address}", edit_user_location_path(location.trip_id, location.id) %></td>
                <td><%= format_time(location.start_date) if location.start_date %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
