<%= link_to 'Add new place!', new_user_location_path(current_user.id), class: 'btn btn-primary margin-top tiny' %>
<%= link_to 'My Trips!', user_trips_path(current_user.id), class: 'btn btn-warning margin-top tiny' %>
<div class="margin-top tiny" data-user-id="<%= current_user.id %>" id="get-user">
  <div class="row">
    <div class="row col-lg-8">
      <div id="map"></div>
    </div>
    <div class="col-lg-4">
      <div>
      <%= link_to 'All users', users_path %> |
      <%= render 'shared/stats' %>
        <table class="table table-locations">
          <thead class="thead-default">
            <tr>
              <th>Address</th>
              <th>Start Date</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.locations.order(:start_date).each do |location| %>
              <tr>
                <td><%= link_to "#{location.address}", edit_user_location_path(location.user_id, location.id) %></td>
                <td><%= format_time(location.start_date) if location.start_date %></td>
                <td><%= link_to 'Delete', user_location_path(location.user_id, location.id), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
