<div class="padding-top tiny">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <div class="form-inline">
      <%= f.email_field :email, class: 'form-control mr-sm-2', placeholder: 'Email' %>
      <%= f.password_field :password, class: 'form-control mr-sm-2', placeholder: 'Password' %>
      <%= f.submit 'Sign in', class: 'btn btn-primary' %>
    </div>
    <label class="custom-control custom-checkbox">
      <%= f.check_box :remember_me, class: 'custom-control-input' %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Remember me</span>
    </label>
  <% end %>
</div>
